{% extends "layout.html.twig" %}
{% block title %}
    {{ name }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h2>
                Sorry, no this page to novo!

            </h2>
        </div>

        <div class="row">
            {{ name }}

        </div>
    </div>
{% endblock body %}