{% extends "layout.html.twig" %}
{% block title %}
    {{ name }}
{% endblock %}
{% block body %}
    <div class="container">
        <form class="form-signin" action="/login/check" method="post" style="width: 50%;">
            <h2 class="form-signin-heading">
                Login
            </h2>
            <input type="text" class="form-control" placeholder="enter username" name="username"
                   required autofocus/>
            <input type="password" class="form-control" placeholder="enter password" name="password"
                   required/>
            <input type="hidden" class="form-control" name="token" value="crsf_token"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Enter
            </button>
        </form>
    </div>
{% endblock body %}